<footer>
    <div class="f-info">
        <div class="f-info-socials">
          <a href="https://www.facebook.com/profile.php?id=61579591810191"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/yash-kumar-3495302a5/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://x.com/YashK39116"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/yk_singhh"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>